In [1]:
import pandas as pd
import numpy as np

In [4]:
url = "./raw_data/CC.csv"

In [5]:
df_original = pd.read_csv(url)

In [6]:
df_original.head()

,Country,ISO3,Indicator,Unit,Source,1961,1962,1963,1964,1965,...,2017,2018,2019,2020,2021,2022,Sub-Region,Income Group,Area (KM²),Density (KM²)
0,Albania,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.627,0.326,0.075,-0.166,-0.388,...,1.121,2.028,1.675,1.498,1.536,1.518,Europe & Central Asia,Upper middle income,28748.0,103
1,Algeria,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.164,0.114,0.077,0.250,-0.100,...,1.512,1.210,1.115,1.926,2.330,1.688,Middle East & North Africa,Lower middle income,2381741.0,19
2,American Samoa,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.079,-0.042,0.169,-0.140,-0.562,...,1.435,1.189,1.539,1.430,1.268,1.256,East Asia & Pacific,High income,199.0,220
3,Angola,AGO,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.041,-0.152,-0.190,-0.229,-0.196,...,0.870,1.395,1.752,1.162,1.553,1.212,Sub-Saharan Africa,Lower middle income,1246700.0,29
4,Antigua and Barbuda,ATG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.090,0.031,0.288,0.214,-0.385,...,0.958,0.627,0.797,1.131,0.862,0.770,Latin America & Caribbean,High income,442.0,214

In [4]:
df_original.columns

Index(['Country', 'ISO3', 'Indicator', 'Unit', 'Source', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', 'Sub-Region',
       'Income Group', 'Area (KM²)', 'Density (KM²)'],
      dtype='object')

In [12]:
df_original["Country"].unique()

array(['Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria',
       'Bangladesh', 'Barbados', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Chad',
       'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Cyprus', 'Denmark',
       'Djibouti', 'Dominica', 'Ecuador', 'El Salvador', 'Faroe Islands',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritius',
       'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Myanmar',
       'Namibia', 'Nepal', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Rwanda', 'Samoa',
       'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Vanuatu', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [7]:
df = df_original.copy()

In [8]:
df.shape

(141, 71)

In [9]:
df.isnull().any()

Country          False
ISO3             False
Indicator        False
Unit             False
Source           False
                 ...
2022             False
Sub-Region       False
Income Group     False
Area (KM²)       False
Density (KM²)    False
Length: 71, dtype: bool

In [10]:
df["Country"].unique()

array(['Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria',
       'Bangladesh', 'Barbados', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Chad',
       'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Cyprus', 'Denmark',
       'Djibouti', 'Dominica', 'Ecuador', 'El Salvador', 'Faroe Islands',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritius',
       'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Myanmar',
       'Namibia', 'Nepal', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Rwanda', 'Samoa',
       'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Vanuatu', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [11]:
mapping = {"Albania" : "Europe",
           "Austria" : "Europe",
           "Belgium" : "Europe",
           "Bulgaria" : "Europe",
           "Bosnia and Herzegovina" : "Europe",
           "Denmark" : "Europe",
           "Cyprus" : "Europe",
           "France" : "Europe",
           "Finland" : "Europe",
           "Germany" : "Europe",
           "Greece" : "Europe",
           "Iceland" : "Europe",
           "Italy" : "Europe",
           "Ireland" : "Europe",
           "Latvia" : "Europe",
           "Luxembourg" : "Europe",
           "Lithuania" : "Europe",
           "Liechtenstein" : "Europe",
           "Malta" : "Europe",
           "Monaco" : "Europe",
           "Norway" : "Europe",
           "Portugal" : "Europe",
           "Romania" : "Europe",
           "Spain" : "Europe",
           "Sweden" : "Europe",
           "Switzerland" : "Europe",
           "Ukraine" : "Europe",
           "United Kingdom" : "Europe" 
           }

df["Europe"] = df["Country"].replace(mapping)
df["Europe"].unique()

array(['Europe', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Australia', 'Bangladesh',
       'Barbados', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Chad',
       'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Djibouti', 'Dominica',
       'Ecuador', 'El Salvador', 'Faroe Islands', 'French Polynesia',
       'Gabon', 'Georgia', 'Ghana', 'Gibraltar', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'India', 'Indonesia', 'Iraq', 'Isle of Man',
       'Israel', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Kiribati',
       'Kuwait', 'Lebanon', 'Liberia', 'Libya', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Myanmar', 'Namibia', 'Nepal',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Puerto Rico', 'Qatar', 'Rwanda', 'Samoa',
       'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Solomon Islands', 'Somalia', 'South Africa',
       'Sri Lanka', 'Sudan', 'Suriname', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'United Arab Emirates', 'United States', 'Uruguay', 'Vanuatu',
       'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
df_europe = df[ df["Europe"] == "Europe"]
df_europe.reset_index(drop = True, inplace = True)

In [13]:
df_europe.shape

(28, 72)

In [14]:
df_europe.columns

Index(['Country', 'ISO3', 'Indicator', 'Unit', 'Source', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', 'Sub-Region',
       'Income Group', 'Area (KM²)', 'Density (KM²)', 'Europe'],
      dtype='object')

In [15]:
drop_columns = ["ISO3", "Indicator", "Unit", "Source", "Sub-Region",
                "1961", "1962", "1963", "1964", "1965", "1966", "1967", "1968"]
df_europe.drop(drop_columns, axis = 1, inplace = True)

C:\Users\laura\AppData\Local\Temp\ipykernel_20156\2328337411.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_europe.drop(drop_columns, axis = 1, inplace = True)

In [16]:
df_europe.to_csv("df_europe.csv", index = False)

In [17]:
df_europe["Country"].unique()

array(['Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina',
       'Bulgaria', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany',
       'Greece', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Malta', 'Monaco', 'Norway', 'Portugal',
       'Romania', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
       'United Kingdom'], dtype=object)