In [2]:
import numpy as np
import pandas as pd
import requests

Data retrieved from https://ec.europa.eu/eurostat/web/agriculture/database

In [7]:
# Eurostat file on selling prices of animal products from 2000 to 2022

file = "./raw_data/apri_ap_anouta_linear_RECENT.csv"

In [8]:
df_meat_recent = pd.read_csv(file)
df_meat_recent.columns

Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'currency', 'prod_ani', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

In [9]:
# Eurostat file on selling prices of animal products from 1969 to 2005

file2 = "./raw_data/apri_ap_haouta_linear_OLD.csv"

In [10]:
df_meat_old = pd.read_csv(file2)
df_meat_old.columns

Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'currency', 'prod_apr', 'geo',
       'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG'],
      dtype='object')

In [30]:
# Creating a new dataframe containing the prices of meat from 1969 to 2022

df_meat_tot = pd.concat([df_meat_recent, df_meat_old], ignore_index = True)

In [31]:
df_meat_tot["TIME_PERIOD"].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 1971, 1972, 1973, 1969, 1970],
      dtype=int64)

In [32]:
df_meat_tot = df_meat_tot.sort_values(by = "TIME_PERIOD")

In [33]:
df_meat_tot["TIME_PERIOD"].unique()

array([1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
       1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int64)

In [34]:
mapping = {'DEW':'Germany',
           'ES':'Spain',
           'IT':'Italy',
           'LU':'Luxembourg',
           'FR':'France',
           'DK':'Denmark',
           'EL': 'Greece', 
           'NL': 'Netherlands', 
           'BE':'Belgium', 
           'UK':'United Kingdom', 
           'IE':'Ireland',
           'AT':'Austria', 
           'PT':'Portugal', 
           'SE':'Sweden', 
           'HU':'Hungary', 
           'CY':'Cyprus', 
           'RO':'Romania', 
           'PL':'Poland', 
           'SI':'Slovenia', 
           'CZ':'Czechia', 
           'SK':'Slovakia', 
           'DE':'Germany',
           'LV':'Latvia', 
           'LT':'Lithuania', 
           'MK':'North Macedonia', 
           'FI':'Finland', 
           'BG':'Bulgaria', 
           'MT':'Malta', 
           'EE':'Estonia', 
           'HR':'Croatia', 
           'XK': 'Kosovo'
          }

df_meat_tot["geo"] = df_meat_tot["geo"].replace(mapping)

In [35]:
drop_columns = ["DATAFLOW", "LAST UPDATE", "freq", "OBS_FLAG"]

df_meat_tot.drop(drop_columns, axis = 1, inplace = True)

In [38]:
df_meat_tot = df_meat_tot[df_meat_tot["currency"] == "EUR"]

In [44]:
df_grouped = df_meat_tot.groupby(["geo", "TIME_PERIOD"]).agg({"OBS_VALUE" : ["mean", "std"]})
df_grouped

                             OBS_VALUE
                                  mean         std
geo            TIME_PERIOD
Austria        1974         126.425625  150.356032
               1975         132.403125  167.113415
               1976         151.872353  179.410116
               1977         169.865294  207.259745
               1978         180.094706  211.257137
...                                ...         ...
United Kingdom 2015         357.516923  479.207385
               2016         303.060000  427.529939
               2017         294.920000  419.399869
               2018         294.517273  426.080682
               2019         293.355455  438.849570

[1075 rows x 2 columns]

In [45]:
df_meat_tot.head(100)

      currency  prod_ani          geo  TIME_PERIOD  OBS_VALUE  prod_apr
24130      EUR       NaN      Germany         1969      43.95    4440.0
28446      EUR       NaN      Germany         1969       2.07    5315.0
20250      EUR       NaN      Germany         1969      34.52    4162.0
31759      EUR       NaN      Germany         1969      86.23    5610.0
30902      EUR       NaN      Germany         1969      54.99    5533.0
...        ...       ...          ...          ...        ...       ...
21144      EUR       NaN        Italy         1971      56.26    4172.0
31054      EUR       NaN  Netherlands         1971     121.94    5538.0
20992      EUR       NaN      Denmark         1971      42.44    4172.0
25523      EUR       NaN  Netherlands         1971      52.93    4733.0
27296      EUR       NaN       France         1971      10.40    5180.0

[100 rows x 6 columns]

In [46]:
df_meat_tot.to_csv("df_meat_price.csv", index = False)